/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 450px;
}
.fade-carousel .carousel-inner .item {
    height: 450px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #EBD28F;
    border-color: #EBD28F;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 64%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h3 {
    font-size: 25px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
	line-height:28px;
	margin-bottom:5px;
}
.hero p {
        font-size: 22px;
    text-transform: none;    
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4{
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../images/slider_1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/slider_2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/slider_3.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(../images/banner-market.jpg);
}
hr.star-light-slider {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
	margin:2rem auto;
}
hr.star-light-slider {
    border-color: #EBD28F !important;
}

hr.star-light-slider:after {
    color: #EBD28F;
    background-color: transparent;
}
.carousel-control {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
    height: 30px;
    z-index: 9;
    background-image: unset !important;
}
.carousel-control:hover
{
 background-image: unset;  
}

/********************************/
/*          Media Queries       */
/********************************/
@media(max-width:800px)
{
.hero
{
width: 95%;
}
.fade-carousel {
    position: relative;
    height: 350px;
}
.fade-carousel .carousel-inner .item {
    height: 350px;
}
}
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; } 
	.fade-carousel {
    position: relative;
    height: 200px;
}
.fade-carousel .carousel-inner .item {
    height: 200px;
}
.hero h3 {
    font-size: 19px;    
	line-height:22px;
	margin-bottom:5px;
}
.hero p {
    font-size: 14px;    
}
hr.star-light-slider {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 1rem;
    margin-bottom: 1rem
}
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3, .fade-carousel .slides .slide-4 {
    height: 200px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.hero {
    position: absolute;
    top: 52%;
}
.carousel-indicators {
    position: absolute;
    bottom: -13px;
}


}