@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('../fonts/Garamond.eot');
    src: url('../fonts/Garamond.eot') format('embedded-opentype'),
         url('../fonts/Garamond.woff2') format('woff2'),
         url('../fonts/Garamond.woff') format('woff'),
         url('../fonts/Garamond.ttf') format('truetype'),
         url('../fonts/Garamond.svg#Garamond') format('svg');
}

body {
    font-family: 'Open Sans', sans-serif;
	background-color: #1B2330 !important;
	color:#EBD28F;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
	color:#EBD28F;
}
a, p
{
color:#EBD28F;
outline:0;
}
a:hover
{
color:#1B2330;
text-decoration:none;
}

.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default {
    background-color: #1B2330;
    border-color: transparent;
    border-radius: 0px;
    margin-bottom: 0px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    top: 2px;
    left: 0px;
}
#myNavbar
{
    z-index:9999;
}
#myNavbar .container
{
position:relative;
}
.navbar-nav>li>a {
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar-brand img
{
width:160px;
}

.navbar-default .navbar-nav > li > a {
    color: #EBD28F;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #EBD28F;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #EBD28F;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
	color:#fff;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
.sticky
{
position:fixed;
width:100%;
padding: 0px 0px;
transition: all 300ms ease-in-out;
z-index:9;
}
.sticky .navbar-brand img
{
width:160px;
}
.sticky .navbar-nav>li>a {
    padding-top: 40px;
    padding-bottom: 40px;
}
.menu_sub
{
position: absolute !important;
top: 0px;
right: -12px;
}
.relative
{
position:relative;
}
.dropdown-menu {
background: #1B2330;
}
.dropdown-menu > li > a
{
color: #EBD28F;
background:transparent;
}
.dropdown-menu > li > a:focus {
    color: #EBD28F;
	}
	.dropdown-menu > li > a:hover {
    color: #EBD28F;
	background:transparent;
	}
.copyright
{
padding: 20px 0px;
background: #1B2330;
}
.heading
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #202020;
	font-size: 30px;
	margin-bottom:20px;
	line-height:32px;
}
.inner-txt
{
padding:30px;
}
.box-shadow
{
/*-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
background-color: #1B2330 !important;
border: 1px solid #EBD28F;
min-height: 300px;
}

.text-center
{
text-align:center;
}
.text-uppercase
{
text-transform:uppercase;
}



hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
	margin:20px auto;
}
hr.star-dark
{
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin:10px auto;
}

/*hr.star-dark:after,
hr.star-light:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f005';
    font-family: FontAwesome;
    font-size: 2em
}*/

hr.star-light {
    border-color: #EBD28F
}

hr.star-light:after {
    color: #EBD28F;
    background-color: transparent;
}

hr.star-dark {
    border-color: #EBD28F
}

hr.star-dark:after {
    color: #EBD28F;
    background-color: transparent;
}
hr.star-service
{
    max-width: 7rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin:10px auto;
}
hr.star-service {
    border-color: #EBD28F
}

hr.star-service:after {
    color: #EBD28F;
    background-color: transparent;
}


hr.star-contact
{
    max-width: 15rem;
    padding: 0;
    text-align: left;
    border: none;
    border-top: solid .25rem;
    margin-top: 10px;
    margin-bottom: 10px;
	margin-left: 0px;
}
hr.star-contact {
    border-color: #EBD28F;
}

hr.star-contact:after {
    color: #2c3e50;
    background-color: transparent;
}

section {
    padding: 6rem 0
}

section h2 {
    font-size: 2.25rem;
    line-height: 2rem
}
.text-white
{
color:#EBD28F;
}
.para-txt
{
color:#EBD28F;
font-size:18px;
}
.para-txt-service
{
color:#EBD28F;
height: 6vh;
line-height: 3vh;
font-size: 2vh;
text-align: center;  
}
.banner img
{
width:100%;
max-height:450px;
}
.para-sec
{
margin-bottom: 15px;
border-bottom: 1px solid #EBD28F;
padding-bottom: 17px;
}
.para_qus
{
color:#EBD28F;
font-size:18px;
font-weight:bold;
}
.para_qus i
{
margin-right:10px;
}
/*service*/
.service_sec
{
width:100%;
margin:0px auto;
}
.service_head
{
color:#EBD28F;
font-weight:bold;
text-align:center;
height: 5vh;
line-height: 5vh;
font-size: 2.5vh;
text-align: center;
}
.service_sec .para-txt
{
text-align:center;
}
.service_sec .inner-txt
{
margin:0px auto;
text-align:center;
padding:15px;
}
.button
{
padding: 7px 20px 11px 20px;
font-size: 16px;
line-height: 20px;
border-radius: 2px;
background-color: #1B2330;
border: 0;
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #EBD28F;
margin:10px auto 0px auto;
text-align:center;
color: #EBD28F;
font-size: 22px;
}
.button a
{
color: #EBD28F;
text-decoration:none;
font-size:2vh;
}

.service_sec .para-txt-service
{
min-height:95px;
}
.service_margin
{
margin-bottom:25px;
}
/*due diligence*/
.para-1 .heading
{
margin-top:25px;
color:#EBD28F;
font-size:20px;
font-weight:bold;
text-align:left;
text-shadow:none;
}
.para-1 ul
{
margin:0px;
padding:0px;
list-style: none;
}
.para-1 li {
  padding-left: 1.3em;
  font-size:18px;
  color:#EBD28F;
}
.para-1 li:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.para-2 .heading
{
margin-top:25px;
color:#EBD28F;
font-size:20px;
font-weight:bold;
text-align:left;
text-shadow:none;
margin-bottom:10px;
}
.para-2 ul
{
margin:0px;
padding:0px;
list-style: none;
}
.para-2 li {
  padding-left: 1.3em;
  font-size:18px;
  color:#EBD28F;
}
.para-2 li:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.para_middle
{
margin-bottom:15px;
}
.para_middle .para-txt
{
text-decoration:underline;
}
.para-txt-para
{
color: #EBD28F;
font-size: 18px;
margin-bottom:4px;
}
/*contact form */
/* -- Ripple effect -------------------------------- */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple .5s linear;
  -moz-animation: ripple .5s linear;
  -ms-animation: ripple .5s linear;
  -o-animation: ripple .5s linear;
  animation: ripple .5s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
/* -- import Bootstrap v3 --------------------------- */
/* -- import Bootstrap docs ------------------------- */
/* -- import Roboto Font ---------------------------- */
/* -- Body style ------------------------------------ */
/* -- Input styles ---------------------------------- */
.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #EBD28F;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}
/* -- label styles ---------------------------------- */
label {
  position: absolute;
  top: -18px;
  color: #EBD28F;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 20px;
  }
}
.float-label {
  left: 0;
  top: 0px;
  font-size: 20px;
  pointer-events: none;
}
/* active state */
.form-control:focus ~ .float-label,
.form-control:valid ~ .float-label {
  top: -18px;
  font-size: 18px;
}
/* input colors ---- */
.form-control:focus ~ label {
  color: #EBD28F;
}
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  background: #EBD28F;
}
/* help-block */
.form-group .help-block {
  position: absolute;
}
.help-block {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 300;
}
/* input addon ---*/
.input-group-addon {
  border: none;
  background: transparent;
}
/* ------  inline ----*/
.input-group-addon,
.form-inline .input-group {
  display: table-cell;
}
.input-group-addon,
.input-group-btn {
  width: inherit;
}
.input-group {
  width: 100%;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    margin-top: 16px;
  }
  .input-group-btn,
  .input-group .form-control,
  .input-group-addon,
  .form-inline .input-group {
    display: inline-block;
  }
  .input-group {
    width: auto;
  }
}
/* -- bar styles -------------------------------------- */
.form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-bar:before,
.form-bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.form-bar:before {
  left: 50%;
}
.form-bar:after {
  right: 50%;
}
/* active state */
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  width: 50%;
}
/* -- highlighter styles ------------------------------ */
.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}
/* active state */
.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media (min-width: 768px) {
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 5px;
  }
}
.form-control-static {
  font-size: 16px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dashed;
}
#focusedInput {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: none;
}
.contact_sec .inner-txt {
    margin: 0px auto;
    text-align: center;
	padding: 38px;
}
.contact_margin
{
margin-bottom:10px;
}
.contact_head {
    color: #EBD28F;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.contact_para
{
text-align: left;
font-size: 16px;
margin: 5px 0px 13px 0px;
}
.contact_address
{
text-align: left;
font-size: 16px;
margin: 5px 0px 8px 0px;
}
.contact_address i
{
margin-right:5px;
}
/*end form*/

@media(max-width:767px)
	{
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.sticky .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-toggle {
    margin-top: 22px;
    margin-bottom: 22px;
}
.navbar-brand img {
    width: 130px;
}
.margin-right
{
margin-right:0px;
}
.margin-left
{
margin-left:0px;
}
#myNavbar .container
{
width:100%;
}
.navbar-default .navbar-toggle {
    border-color: #EBD28F;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #EBD28F;
}
.contact_sec .inner-txt {
    margin: 0px auto;
    text-align: center;
	padding: 20px;
}
	}

/*for hover menu*/

 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}
@media (max-width: 767px)
{
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #EBD28F;
	font-size:16px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #EBD28F;
	font-size:16px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #EBD28F;
}
.sticky .navbar-brand img {
    width: 130px;
}
}
.br_line
{
width:100%;
height:1px;
background:#EBD28F;
margin:14px auto;
}
.service_icon
{
text-align: center;
margin-bottom: 10px;
	}
.service_icon img
{
width:auto;
height: 10vh;
}
.service_icon .fa
{
color: #EBD28F;
    text-align: center;
    font-size: 64px;
}
.col-lg-5
{
max-width:20%;
float:left;
padding:0px 15px;
}
.padding-30
{
padding:0px 30px;
}
.padding-top-0
{
padding-top:0px;
}
.carousel-control {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
    height: 30px;
    z-index: 9;
    background-image: unset !important;
}
.carousel-control:hover
{
 background-image: unset;  
}
@media(max-width:1200px)
{
.col-lg-5 {
    width: 20%;
    float: left;
    padding: 0px 15px;
}
.service_head {
    color: #EBD28F;
    font-weight: bold;
    text-align: center;
    height: 4vh;
    line-height: 4vh;
    font-size: 1.5vh;
    text-align: center;
}
.service_icon img {
    width: auto;
    height: 6vh;
}
.service_sec .para-txt-service {
    min-height: 115px;
}
}
@media(max-width:1020px)
{
.col-lg-5 {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
    max-width:none;
}
.service_head {
    color: #EBD28F;
    font-weight: bold;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
    font-size: 2.5vh;
    text-align: center;
}

}
@media(max-width:820px)
{
.col-lg-5 {
    width: 50%;
    float: left;
    padding: 0px 15px;
}

}

@media(max-width:540px)
{
.col-lg-5 {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
.service_sec .para-txt-service {
    min-height: 80px;
}
}